{% extends 'baseTherapist.html.twig' %}

{% block title %}Création d'un Pictogramme securite routiere| PictoPicto{% endblock %}

{% block content %}

    <span class="title">PictoSecuriteRoutiere, Catégories </span>
<div class="d-flex justify-content-between">
                  
         <!-- btn création picotgrammes -->
        {# <div class="pictoactions">
                <a href="{{ path('app_picto_securite_routiere_new') }}" class="btn btn-dark btn-sm">PictoSecuriteRoutiere</a>
            
        </div> #}
<!-- btn pour retour à la page PictiPcto qui regroupe toutes les pictotgrammes -->
        <div class="PictoPicto">
         <a href="{{ path('app_picto_picto') }}" class="btn btn-dark btn-sm">retour liste PictoPicto</a>
         </div> 
</div>
<div class="container-fluid mt-3 p-4 background">
        <div class="row">
            <div class="col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('alert') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
</div>
</div>
</div>

<div id="accordion">
        <div class="p-3 accordion-item d-flex">
                <img class="pictoList" src="{{ asset('images/categories/'~picto_securite_routieres[0].pictograms.filename) }}" alt=""> 
                <span class="my-auto ms-2 ">{{ picto_securite_routieres[0].pictograms.name }}</span> 
              
        </div>    

<div class="picto">
        {% for picto_securite_routiere in picto_securite_routieres %}
                   <div class="ms-md-3">
                     <img class="pictoList"src="{{ asset('images/pictograms/') }}{{   picto_securite_routiere.filename }}" alt=""> 
                    <figcaption class="picText">{{ picto_securite_routiere.name }} </figcaption>
                            
                    </div>
                   
        {% endfor %}
                          
    </div>  
</div>
     
{% endblock %}
      