{% extends 'baseTherapist.html.twig' %}

{% block title %}Création d'un Pictogramme Lieux| PictoPicto{% endblock %}

{% block content %}

    <span class="title">PictoLieux, Catégories </span>
<div class="d-flex justify-content-between">
                  
         <!-- btn création catégories et picotgrammes -->
        <div class="pictoactions">
               <a href="{{ path('app_picto_lieux_new') }}" class="btn btn-dark btn-sm">PictoLieux</a>
              <a href="{{ path('newSubCategoryLieux') }}" class="btn btn-dark btn-sm ">Créer une sous-catégorie</a>
            
        </div>

</div>
<div class="container-fluid mt-3 p-4 background">
        <div class="row">
            <div class="col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('alert') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
</div>
</div>
</div>

 <div id="accordion">
    <div class="p-3 accordion-item d-flex">
            <img class="pictoList" src="{{ asset('images/categories/' ~ picto_lieuxes[0].pictograms.filename) }}" alt=""> 
            <span class="my-auto ms-2 ">{{ picto_lieuxes[0].pictograms.name }}</span> 
            
</div>
     <div class="picto">
        {% for picto_lieu in picto_lieuxes %}
                <div class="ms-md-3">
                     <img class="pictoList"src="{{ asset('images/pictograms/') }}{{ picto_lieu.filename }}" alt=""> 
                    <figcaption class="picText">{{ picto_lieu.name }} </figcaption>
                            
                </div>
                   
        {% endfor %}
    </div> 

       {% for subcategory in subcategories %}
   
      
 <div class="accordion-item mb-3">       
            <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{subcategory.id}}" aria-expanded="false" aria-controls="collapse{{subcategory.id}}">
                        <img class="pictoList" src="{{ asset('images/sous-categories/'~subcategory.filename)}}" alt="">
                        <span class="my-auto ms-2">{{ subcategory.name }}</span>
                        </button>
                        </h2>
                        <div id="collapse{{subcategory.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{subcategory.id}}" data-bs-parent="#accordionExample">  
                    {% endfor %} 

<div class="picto">
            {% for picto_lieux in picto_lieuxes %}
                    <div class="ms-md-3">
                        <img class="pictoList"src="{{ asset('images/pictograms/') }}{{  picto_lieux.filename }}" alt=""> 
                        <figcaption class="picText">{{ picto_lieux.name }} </figcaption>
                                
                    </div>
            {% endfor %}
                        </div>
</div>


</div>
</div>
     
{% endblock %}
     