{% extends 'baseTherapist.html.twig' %}

{% block title %}Création d'un Pictogramme Petits Mots| PictoPicto{% endblock %}

{% block content %}

    <span class="title">PictoPetitsMots, Catégories </span>
<div class="d-flex justify-content-between">
                  
         <!-- btn création picotgrammes -->
        <div class="pictoactions">
                {# <a href="{{ path('newSubCategory') }}" class="btn btn-dark btn-sm ">Créer une sous-catégorie</a> #}
                <a href="{{ path('app_picto_petits_mots_new') }}" class="btn btn-dark btn-sm">PictoPetitsMots</a>
            
        </div>
<!-- btn pour retour à la page PictiPcto qui regroupe toutes les pictotgrammes -->
        {# <div class="PictoPicto">
         <a href="{{ path('app_picto_picto') }}" class="btn btn-dark btn-sm">retour liste PictoPicto</a>
         </div>  #}
         
</div>
<div class="container-fluid mt-3 p-4 background">
        <div class="row">
            <div class="col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('alert') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
</div>
</div>
</div>

<div class="accordion">
{% if category is null %}
           <div class="p-3 accordion-item d-flex">
                <img class="pictoList" src="{{ asset('images/categories/'~picto_petits_mots[0].pictograms.filename) }}" alt=""> 
                <span class="my-auto ms-2 ">{{ picto_petits_mots[0].pictograms.name }}</span> 
        {% endif %}      
</div>   

<div class="picto">
        {% for picto_petits_mot in picto_petits_mots %}
                <div class="ms-md-3">
                    <img class="pictoList"src="{{ asset('images/pictograms/') }}{{   picto_petits_mot.filename }}" alt=""> 
                <figcaption class="picText">{{  picto_petits_mot.name }} </figcaption>
                        
                </div>
                   
        {% endfor %}
    </div>  
</div>
     
{% endblock %}
       
      